<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Drink Shop</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <div><img src>></div>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
                <li><a href="/productCart">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="/login">Inicia sesion</a></li>
                <li><a href="/register">Crea tu cuenta</a></li>
                <li><a href="/productCart">Mis compras</a></li>
        </ul>
    </nav>
    </header>

    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>POLITICAS DE PRIVACIDAD</h4>
            <p>Beber con moderación. Prohibida su venta a menores de 18 años. El abuso de alcohol es peligroso para la salud. </p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4>Oficinas Buenos Aires</h4>
            <p>Av. Calle 1234 – piso 1
                Buenos Aires, Argentina
                Tel: +5411 1212-3434
                info@drinkshop.com</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguinos en </h4>
            <ul>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://twitter.com/tweeter?lang=es">Tweeter</a></li>
                </ul>
        </article>
        <div>
            <p>Copyright © 2020 Drink Shop todos los derechos reservados</p>
        </div>
    </footer>

</body>
</html>